.App {
  min-height: 100vh;
  background: url("../public/images/quiz-background.jpeg") no-repeat center
    center;
  background-size: cover;
  padding: 2rem;
}

.question {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}

.result {
  text-align: center;
}
